.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 1rem;
}

.spacer {
  flex: 1;
}
