<div class="page">
  <app-header title="{{ title }}"></app-header>
  <div class="content" role="main">
    <div class="right">
      <span>WMA - ratio WeightedMovingAverage price<br />to the current</span>
      <button
        (click)="hideWMAhandler()"
        type="button"
        [ngSwitch]="hideWMAflag"
        class="wmaButton"
      >
        <span *ngSwitchCase="true">Hide WMA</span>
        <span *ngSwitchCase="false">Show WMA</span>
      </button>
    </div>
    <ag-grid-angular
      (gridReady)="onGridReady($event)"
      style="width: 400px; height: 500px"
      class="ag-theme-alpine"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [suppressScrollOnNewData]="true"
    >
    </ag-grid-angular>
  </div>
  <footer>
    <div>Samara</div>
  </footer>

  <router-outlet></router-outlet>
</div>
